*.db
*.py[cod]
.DS_Store
.env
.idea
.vscode
.vscode/
.vscode/data_sources_kanri/
.vscode/data_sources_kanri/data_sources_kanri/
.vscode/data_sources_kanri/data_sources_kanri/data_sources_kanri/
.vscode/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/
.vscode/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/
.vscode/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/data_sources_kanri/
.web
__pycache__/
assets/external/
event-data/
spark-events
data/*
!data/README.md
metadata/docker-volume/
data_platform_local/
tmp/
**/tmp/
minio/docker/
**/.secret
**/gz/*.tar.gz
**/spark-build
**/.cubestore
**/marquez
#**/airflow/bundles/dev
**/spark*.tgz

**/ca_certs/keystore1/*.jks
**/ca_certs/keystore2/*.jks
**/ca_certs/truststore/*
!**/ca_certs/truststore/dummy
**/ca_certs/cert-file
**/ca_certs/cert-signed
**/ca_certs/ca-cert.srl
**/ca_certs/server_certs/*
!**/ca_certs/server_certs/dummy